html,
body,
#root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

:root {
  --text-box-shadow-color: rgba(0, 0, 0, 0.5);
  --btn-bg-color: #007bff;
  --btn-bg-hover-color: #0056b3;
  --btn-text-color: white;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 60vh;
  padding: 2rem;
}

.home-main-container {
  display: grid;
  grid-template-rows: 2fr 1fr 1fr 1fr;
  row-gap: 1rem;
  justify-content: center;
  text-align: center;
  max-width: 600px;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 8px var(--text-box-shadow-color);
}

.game-intro {
  font-size: 1.5rem;
  margin: 1rem;
}

.game-invite {
  font-size: 1rem;
  padding: 0 1rem;
  margin: 0.5rem;
}

.play-btn {
  background-color: var(--btn-bg-color);
  color: var(--btn-text-color);
  padding: 1rem 2rem;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  width: 100%;
}

.play-btn:hover {
  background-color: var(--btn-bg-hover-color);
  color: var(--btn-text-color);
  transform: scale(1.1);
}

.rules-btn {
  background-color: var(--btn-bg-color);
  color: var(--btn-text-color);
  padding: 1rem 2rem;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  width: 100%;
}

.rules-btn:hover {
  background-color: var(--btn-bg-hover-color);
  color: var(--btn-text-color);
  transform: scale(1.1);
}
